.calcbutton {
    display: flex;
    width: 200px;
    height: 120px;
    border: solid 2px black;
    border-radius: 2px;
    padding: 20px;
    background-color: ghostwhite;
    transition: .2s all;
    margin: 5px auto;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
}

.calcbutton p {
    flex-grow: 1;
}

.calcbutton:hover {
    background-color: hsl(200, 100%, 26%);
    color: white;
    transform: translate(0, -5px);
}